.NewsList {
  .postsWrap {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    width: span(6);
    margin-right: gutter();
    margin-bottom: gutter();
    @include disableNthMargin(2n, right);

    @include onPhone() {
      width: 100%;
      @include disableNthMargin(n, right);
    }
  }
}
